@font-face {
  font-family: "Montserrat-Regular", sans-serif;
  src: url("../fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: "Montserrat-Bold", sans-serif;
  src: url("../fonts/Montserrat-Bold.ttf"); }
@font-face {
  font-family: "Montserrat-Medium", sans-serif;
  src: url("../fonts/Montserrat-Medium.ttf"); }
@media (max-width: 610px) {
  header {
    padding: 0px;
    margin: 0px; }

  section, footer {
    padding: 50px 20px; }

  h1 {
    margin-bottom: 50px; }

  header {
    height: 850px;
    width: 100%; }
    header .content {
      position: absolute;
      top: 20%;
      left: 20px;
      right: 20px;
      bottom: 10%; }
      header .content .content_title h1 {
        font-size: 50px; }
      header .content .content_title p {
        width: 90%; }
      header .content .content_title button {
        margin-top: 5px; }
      header .content .text_hero {
        width: 30%; }
      header .content .text_hero {
        position: absolute;
        right: 0px;
        bottom: 50px;
        width: 60%;
        text-align: right; }
        header .content .text_hero p {
          font-size: 9pt; }
      header .content .user_hero {
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: none; }
        header .content .user_hero img {
          border-radius: 50%;
          float: right;
          width: 30px;
          margin-top: 5px;
          transform: none; }
        header .content .user_hero .user_name {
          float: right; }
          header .content .user_hero .user_name h5 {
            padding: 5px 10px 0px 0px; }
          header .content .user_hero .user_name p {
            font-size: 9pt; }
    header #hero_baner .baner_content {
      width: 300px; }
      header #hero_baner .baner_content iframe {
        width: 300px;
        height: 150px; }

  nav {
    padding: 0px;
    z-index: 100;
    position: relative; }
    nav .logo {
      padding-left: 21px; }
    nav #meni {
      background-color: #f4f5f9;
      float: none;
      display: none;
      padding-top: 100px;
      z-index: 100; }
      nav #meni ul li {
        display: block;
        padding: 0px 6px; }
        nav #meni ul li a {
          display: block;
          text-align: center;
          font-size: 18px; }
          nav #meni ul li a:hover, nav #meni ul li a:active {
            color: #c54b1b; }
        nav #meni ul li:hover {
          border-bottom: 0px; }
        nav #meni ul li:active {
          background-color: transparent; }
    nav #hamburger {
      display: block;
      height: 15px;
      position: absolute;
      top: 25px;
      right: 16px; }
    nav #meni_x {
      display: none;
      height: 15px;
      position: absolute;
      top: 25px;
      right: 16px; }
    nav #right_meni {
      float: none;
      background-color: #f4f5f9;
      display: none;
      padding-bottom: 100px;
      z-index: 100; }
      nav #right_meni a {
        padding: 0px 6px;
        font-size: 14pt;
        display: block;
        text-align: center; }
      nav #right_meni .drop-down {
        display: block; }
        nav #right_meni .drop-down .selected {
          background: transparent;
          display: list-item;
          width: 150px;
          cursor: pointer;
          padding: 0px;
          border: solid 1px #bcbdbc;
          border-radius: 5px;
          margin: 7px auto; }
          nav #right_meni .drop-down .selected a {
            text-decoration: none;
            line-height: normal;
            padding: 10px;
            font-size: 13pt; }
            nav #right_meni .drop-down .selected a span {
              cursor: pointer;
              display: inline-block;
              color: #2e2d2c; }
              nav #right_meni .drop-down .selected a span.value {
                display: none; }
              nav #right_meni .drop-down .selected a span:after {
                content: url("../images/black_down.png");
                display: inline-flex;
                vertical-align: middle;
                margin-left: 20px;
                margin-bottom: 7px; }
        nav #right_meni .drop-down .options {
          position: relative;
          background-color: #e8e9ec;
          width: 300px;
          margin: 0 auto; }
          nav #right_meni .drop-down .options .select {
            float: right;
            font-size: 11pt;
            line-height: 39px;
            color: #3d82fd;
            font-weight: normal; }
          nav #right_meni .drop-down .options span.value {
            display: none; }
          nav #right_meni .drop-down .options ul {
            background-color: #e8e9ec;
            display: none;
            list-style: none;
            padding: 50px;
            position: relative;
            margin: 0px auto;
            width: auto;
            border: none; }
            nav #right_meni .drop-down .options ul li a {
              display: block;
              text-decoration: none;
              background-color: #e8e9ec;
              line-height: 25px;
              font-size: 13pt;
              color: #bcbdbc;
              font-weight: normal; }
              nav #right_meni .drop-down .options ul li a:hover, nav #right_meni .drop-down .options ul li a:active {
                color: #2e2d2c; }
            nav #right_meni .drop-down .options ul li #french {
              display: list-item; }
            nav #right_meni .drop-down .options ul li #nederlands {
              display: list-item; }
            nav #right_meni .drop-down .options ul li #german {
              display: none; }
    nav #search_container {
      float: none;
      position: absolute;
      top: 0px;
      right: 50px; }
      nav #search_container #search {
        width: 120px; }

  .slider {
    height: 600px;
    position: relative; }
    .slider .slider_text {
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .slider .slider_text h1 {
        right: 20px;
        text-align: center; }
      .slider .slider_text h2 {
        right: 20px;
        text-align: center; }
      .slider .slider_text p {
        right: 20px; }
      .slider .slider_text button {
        display: none; }
    .slider .carousel_box {
      top: 220px;
      left: 0px;
      margin: 0 auto;
      width: 100%;
      max-width: 558px;
      float: none; }

  .tickets {
    background-image: none; }
    .tickets .ticket {
      padding-top: 20px;
      margin-bottom: 20px;
      margin-top: 0px;
      width: 100%;
      height: auto; }
      .tickets .ticket.big_ticket {
        height: auto; }
      .tickets .ticket img {
        float: none;
        margin: 0px auto;
        display: block; }
        .tickets .ticket img.big_img {
          width: 40px;
          height: 40px; }
      .tickets .ticket .ticket_text {
        float: none; }
        .tickets .ticket .ticket_text p {
          font-size: 12pt;
          line-height: normal;
          text-align: center; }
          .tickets .ticket .ticket_text p.big_p {
            font-size: 13pt; }
        .tickets .ticket .ticket_text h3 {
          text-align: center;
          margin-bottom: 10px; }
      .tickets .ticket .vl {
        border-bottom: 4px dotted #b1b1b0;
        height: 2px;
        width: 100%;
        float: none; }
        .tickets .ticket .vl.big_vl {
          border-bottom: 6px dotted #b1b1b0;
          height: 2px; }
      .tickets .ticket .price {
        text-align: center;
        float: none; }
        .tickets .ticket .price p {
          font-size: 24pt; }
        .tickets .ticket .price button {
          display: block;
          margin: 0 auto; }

  .travel {
    padding: 50px 0px; }
    .travel .accordian_box {
      width: 100%;
      height: auto;
      float: none;
      margin: 0 auto; }
      .travel .accordian_box .text_box {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align: center; }
        .travel .accordian_box .text_box button {
          margin: 0 auto;
          margin-top: 20px;
          display: block; }
      .travel .accordian_box .accordian {
        float: none;
        width: 100%;
        margin: 0 auto; }
        .travel .accordian_box .accordian h3 {
          padding: 20px 10px 10px; }
        .travel .accordian_box .accordian button {
          width: 95%;
          height: 55px;
          margin: 10px auto; }
        .travel .accordian_box .accordian .panel {
          margin: 0px; }
          .travel .accordian_box .accordian .panel p {
            padding: 0px 20px 20px; }
    .travel article {
      width: 100%;
      padding: 0 20px; }

  .contact {
    background-image: none; }
    .contact form {
      float: none;
      width: 100%; }

  .footer {
    display: none; }

  footer p {
    float: none;
    margin-top: 10px;
    text-align: center; }
  footer div {
    float: none;
    text-align: center; }
    footer div img {
      width: 30px;
      margin: 15px; } }

/*# sourceMappingURL=mobile.css.map */
